@media screen and (max-width:576px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        right: 20px;
    
    }
    .nav-btn{
        width: 150px !important;
        padding: 15px 40px 15px 40px;
        justify-content: center;
        gap: 5px;
    }
    .hero-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-2 img{
        width: 200px;
    }
    .hero-sub-title{
        font-size: 20px;
        text-align: center;
    }
    .hero-title{
        font-size: 40px;
        text-align: center;
    }
    .hero-des p{
        font-size: 14px;

    }
    .hero-des{
        text-align: center;
    }
    .img-container{
        flex-direction: column;
        
    }
    .img-container p{
        text-align: center;
    }

}